//styles within a <nav> tag and/or have to do with links and navigation
@use '../variable.scss' as vars;

//navigation
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;

    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 0em 1em;       

        &:hover{
            text-decoration: underline;
        }
    }
}

nav ul div {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    background-color: white;
    border: 1px solid vars.$dark-blue;
    width: fit-content;
}